.text-field {
    -fx-background-color: WHITE;
    -fx-border-color: #656565;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
}
.text-field:focused, .text-field:hover {
    -fx-background-color: #f1f1f1;
    -fx-cursor: hand;
}
